@-webkit-keyframes gear-moves {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes gear-moves {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes gear-moves-b {
    0% {
        -webkit-transform: rotate(390deg);
    }
    100% {
        -webkit-transform: rotate(30deg);
    }
}
@-moz-keyframes gear-moves-b {
    0% {
        -moz-transform: rotate(390deg);
    }
    100% {
        -moz-transform: rotate(30deg);
    }
}

@-webkit-keyframes mover {
    0% { transform: translateY(0.3em); }
    100% { transform: translateY(-0.3em); }
}
@keyframes mover {
    0% { transform: translateY(0.3em); }
    100% { transform: translateY(-0.3em); }
}

/* gear1: x173 y72 44% */ /* 20 73 */
/* gear2: x60 y153 20% */ /* */
/* total: x236 y352 */

.gear1 {
	position: absolute;
	top: 0.96em;
	left: 3.2em;
    background: url('../img/gear1.png') no-repeat 0 0;
    height: 6.4em;
    width: 6.4em;
	background-size: 6.4em 6.4em;
	
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;

    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
	
    -moz-animation-name: gear-moves;
    -moz-animation-duration: 5s;

    -webkit-animation-name: gear-moves;
    -webkit-animation-duration: 5s;
}

.gear2 {
	position: absolute;
	top: 5.568em; /* 87px */
	left: 1.792em; /* 28px */
    background: url('../img/gear2.png') no-repeat 0 0;
    height: 2.56em;
    width: 2.56em;
	background-size: 2.56em 2.56em;
	
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;

    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
	
    -moz-animation-name: gear-moves-b;
    -moz-animation-duration: 3.75s;

    -webkit-animation-name: gear-moves-b;
    -webkit-animation-duration: 3.75s;
}

.edu-top {
	position: absolute;
	top: 0em; /* 87px */
	left: 0em; /* 28px */
    height: 100%;
    width: 100%;
	background-size: 100%;
	
    background: url('../img/edu-top.png') no-repeat 0 0;
    -webkit-animation: mover 2s infinite  alternate;
    -moz-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}