@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

body {
	/* background: #444; */
	color: #347dd2;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
}


a {
	text-decoration: none;
	color: #347dd2;
	outline: none;
}

a:hover, a:focus {
	color: #2c774b;
	outline: none;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
.st-container,
.st-pusher,
.st-content {
	height: 100%;
}

.st-content {
	overflow-y: auto;
	overflow-x: hidden;
	/* background: #f3efe0; */
}

.st-content,
.st-content-inner {
	position: relative;
	z-index: 90;
}

.st-content-inner, .main {
	height: 100%;
	width: 100%;
}

.st-container {
	position: relative;
	overflow: hidden;
	padding-bottom: 3.65em;
}

.st-menu-open .st-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu {
	float: left;
	z-index: 100;
	width: 250px;
	height: 100%;
	background: #e0e0e0;
}

.st-menu-open .st-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.st-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu-band-wrapper {
	position: relative;
	height: 3.65em;
}

.st-footer {
	position: absolute;
	height: 3.65em;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #347dd2;
	color: #fff;
	z-index: 100;
}

.menu-band {
	position: absolute;
	left: 0;
	z-index: 100;
	background: #347dd2;
	/*padding: 0; */
	width: 265px;
	color: #fff;
}

.menu-band-text {
	margin: 0;
	width: 250px;
	padding: 0.5em 0 0.5em 0;
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	text-transform: uppercase;
	text-align: center;
}

.menu-band h2 {
	padding: 0;
	margin: 0;
	letter-spacing: 0.22em;
	font-weight: 700; /* bold */
	font-size: 1.3em;
}

.menu-band h3 {
	padding: 0;
	margin: 0 0 0.3em 0;
	letter-spacing: 0.42em;
	font-weight: 600; /* semibold */
	font-size: 0.65em;
}

.st-menu ul li a {
	display: block;
	padding: 1em 1em 1em 4.2em;
	outline: none;
	color: #404040;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 0.12em;
	font-weight: 400; /* regular */
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.st-menu ul li a:hover {
	background: #f5f5f5;
	color: #404040;
}

.st-menu ul li a:active {
	background: #fff;
	color: #404040;
}

#menu-band-triangle {
	width: 0;
	height: 0;
	position: absolute;
	bottom: -14px;
	right: 0;
	border-style: solid;
	border-width: 15px 15px 0 0;
	border-color: #404040 transparent transparent transparent;
}

.menu-photo {
	width: 190px;
	height: 190px;
	background-image: url("../img/photo.png");
	background-size: 190px 190px;
	border-radius: 50%;
	margin: 25px 30px 20px 30px;
	/*margin: 30px; */
}

@media screen and (min-width: 110em) {
	.st-menu {
		width: 312.5px;
	}
	
	.menu-band-wrapper {
		height: 4.5625em;
	}

	.st-footer {
		height: 4.5625em;
	}
	
	.st-container {
		padding-bottom: 4.5625em;
	}

	.menu-band {
		width: 331.25px;
	}

	.menu-band-text {
		width: 312.5px;
		padding: 0.625em 0 0.625em 0;
	}

	.menu-band h2 {
		letter-spacing: 0.22em;
		font-size: 1.625em;
	}

	.menu-band h3 {
		margin: 0 0 0.375em 0;
		letter-spacing: 0.42em;
		font-size: 0.8125em;
	}

	.st-menu ul li a {
		padding: 1em 1em 1em 4.2em;
		letter-spacing: 0.12em;
		font-size: 1.25em;
	}
	
	#menu-band-triangle {
		bottom: -18px;
		border-width: 18.75px 18.75px 0 0;
	}

	.menu-photo {
		width: 237.5px;
		height: 237.5px;
		background-size: 237.5px 237.5px;
		margin: 31.25px 37.5px 25px 37.5px;
		/*margin: 30px; */
	}
}
